<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!--LOGO (Pagina Principal)-->
      <a class="navbar-brand" routerLink="/">
        <img src="../../../assets/images/avatar-01.png" alt="" width="50" height="50" class="d-inline-block align-text-center">
        FIUSAC
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!--BUSQUEDA-->
        <form class="d-flex ml-auto" id="search">
          <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
          <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </form>

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/publicacion"><i class="fa fa-plus-circle"></i> Crear Publicación</a>
          </li>
        </ul>

        <button type="button" class="btn btn-dark ml-auto" id="usuario">
          <a routerLink="perfil"><i class="fa fa-user-circle-o"></i> Perfil</a>
        </button>
      </div>
    </div>
  </nav>

  <div class="container-fondo" >
    <div id="cuadro">
      <div class="public-comment">

      </div>
      <div class="col-md-12">
        <fieldset>
          <textarea name="message" rows="1" class="form-control" id="message" placeholder="Escriba su comentario" required=""></textarea>
          <button class="btn btn-outline-primary" type="submit">Comentar</button>
        </fieldset>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
