<div class="mb-5">
    <h3>Registro Académico</h3>
    <input class="form-control" type="text" placeholder="carnet" aria-label="default input example">
</div>

<div class="mb-5">
    <h3>Nombres</h3>
    <input class="form-control" type="text" placeholder="nombre" aria-label="default input example">
</div>

<div class="mb-5">
    <h3>Apellidos</h3>
    <input class="form-control" type="text" placeholder="apellido" aria-label="default input example">
</div>

<div class="mb-5">
    <h3>Contraseña</h3>
    <input class="form-control" type="text" placeholder="pass" aria-label="default input example">
</div>

<div class="mb-2">
    <h3>Correo</h3>
    <input class="form-control" type="text" placeholder="correo" aria-label="default input example">
</div>
